@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Genos:ital,wght@1,500;1,700&family=Lobster+Two:ital@1&family=Play&display=swap');
*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body
{
    height: 100%;
    margin: 5px 0px 5px 0px;
}

main
{
    margin: 0 auto;
    max-width: 100%;
    /* width: 90%; */
    display: grid;
    grid-template-areas: /* "h h h h h h h"
                         "n n n n n n n" */
                         "a a a a a a a"
                         "as as as as as as as"
                         "f f f f f f f";


}

p
{
    font-family: 'Play', sans-serif;
}

#kezdőlap, #kapcsolat, #hobbi, #munka
{
    grid-area: h;
    height: 600px;
    background-size: cover;
}
#kezdőlap
{
    background-image: url("kepek/kezdőlap5próba.jpg");
    background-position: center;
}

#kapcsolat
{
    background-image: url("kepek/kapcsolat.jpg");
    background-position: center;
}

#hobbi
{
    background-image: url("kepek/hobbi.jpg");
    background-position: center;
}

#munka
{
    background-image: url("kepek/munka2.jpg");
    background-position: center;
}

header p
{
    position: sticky;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 45pt;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    z-index: 0;
    font-family: 'Allerta Stencil', sans-serif;
}

nav
{
    width: 100%;
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0;
    z-index: 1;
    margin: 0px;
}
nav a 
{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

nav a:hover
{
    background: #ddd;
    color: black;
}

nav ul
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr /* 100px 100px 100px 100px */;
    text-decoration: none;
    float: right;
    margin: 0px;
    padding: 0px;
}

nav ul li
{
    margin: auto;
    text-align: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Genos', sans-serif;
    font-size: 14pt;
}

article
{
    grid-area: a;
}

.kep
{
    width: 200px;
    float: right;
    margin-top: 100px;
    padding: 5px;
    margin-right: 100px;
    margin-bottom: 25px;
}
.enkep
{
    width: 200px;
    float: right;
    margin-top: 100px;
    padding: 5px;
    margin-right: 100px;
    margin-bottom: 25px;
}

#kcím
{
    margin: 100px 250px 0px 250px;
    font-size: 16pt;
    font-family: 'Genos', sans-serif;
    font-weight: bold;
    font-weight: 700;
    font-style: italic;
}

.cimh2
{
    text-align: left;
    margin: auto;
    margin: 50px 0px 20px 15px;
    font-size: 14pt;
    font-family: 'Genos', sans-serif;
    font-weight: bold;
    font-weight: 700;
    font-style: italic;
}

#hobbibekezdés
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin: auto;
    
}
.torol
{
    clear: both;
}
#hobbibekezdés .kepbal
{
    float: left;
    margin: 5px;
    padding: 5px;
}

#hobbibekezdes .kepjobb
{
    float: right;
    margin: 5px;
    padding: 5px;
}

#hobbibekezdés .parosbekezdés
{
    background-color: rgb(230, 230, 230);
    width: 100%;
    margin: auto;
    border-radius: 5px;
    /* margin: 100px 150px 100px 150px; */
    padding: 10px 200px 150px 200px;
    margin-right: 100px;
    font-size: 14pt;
    text-align: justify;
}
#hobbibekezdés .paratlanbekezdés
{
    width: 100%;
    margin: auto;
    border-radius: 5px;
 /*    margin: 10px 150px 0px 150px; */
    padding: 10px 200px 100px 200px;
    margin-right: 100px;
    font-size: 14pt;
    text-align: justify;
}

#hobbibekezdés img
{
    float: left;
}
#lista
{
    margin-left: 260px;
    font-family: 'Play', sans-serif;
    margin-top: 5px;
    
}
#lista li
{
    list-style-type: square;
}

/* .cimh2:nth-child(even)
{
    margin: 100px 250px 0px 250px;
    font-size: 16pt;
} */

#indexbekezdes p:nth-child(odd)
{
    /* background-color: rgb(226, 226, 226); */
    width: 100%;
    margin: auto;
/*     margin-top: 50px; */
    border-radius: 5px;
    padding: 100px 250px 100px 250px;
    font-size: 16pt;
    text-align: justify;
}

#indexbekezdes p:nth-child(even)
{
    background-color: rgb(230, 230, 230);
    width: 100%;
    margin: auto;
/*     margin-top: 50px; */
    border-radius: 5px;
    padding: 100px 250px 100px 250px;
    margin-right: 100px;
    font-size: 16pt;
    text-align: justify;
}

.kepbal
{
    float: left;
    margin-left: 100px;
    padding: 0px;

}


picture
{
    margin: auto;
}


.letoltes
{
    margin: auto;
    font-size: 12pt;
}

#fn, #ld, #l, #t
{
    background-color: gray;
    margin: auto;
    padding: 10px;
    font-size: 16pt;
}

#fn
{
    width: 400px;
}
#ld
{
    width: 250px;
}
#l
{
    width: 150px;
}
#t
{
    width: 300px;
}
.letoltes td
{
    padding-left: 10px;
}
.címek
{
    font-size: 20pt;
    padding-right: 40px;
}

.letoltgomb
{
    width: 50px;
    margin: 0px;
    padding: 5px;
    text-align: center;
    margin: auto;
    margin-right: 35%;
}

tr:nth-child(even)
{
    background-color: silver;
}
tr:nth-child(odd)
{
    background-color: gray;
}
table, tr, td, th
{
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
    font-family: 'Play', sans-serif;
}

aside
{
    margin-top: 50px;
    padding-top: 80px;
    grid-area: as;
    border-radius: 5px;
}

.paratlan p
{
    padding: 0px;
    margin: 0px;
}

.paros p
{
    padding: 0px;
    margin: 0px;
}


footer
{
    grid-area: f;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #f2f2f2;
}

#tartalom
{
    width: 100%;
    margin: auto;
    padding: 60px 0px 30px 0px;
    margin-bottom: 30px;
    background-color: lightgray;
    margin-bottom: -15px;
}

/* form
{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 30px 0px 30px 0px;
    margin-bottom: 30px;
    background-color: silver;
    border-radius: 5px;
    
}
 */
input[type=text], select, textarea
{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-family: 'Play', sans-serif;
    margin: auto;
}

input[type=submit] 
{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-left: 16%;
    font-family: 'Play', sans-serif;
    font-size: 11pt;
}
  
input[type=submit]:hover 
{
    background-color: #45a049;
}
  
.szelesseg
{
    /* float: left;
    width: 75%;
    margin-top: 6px; */
    width: 80%;
    float: left;
    text-align: right;
    margin-top: 6px;
}

#email
{
    width: 80%;
    text-align: left;
    margin-top: 6px;
    display: inline-block;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

/* Clear floats after the columns */
.sor:after 
{
    margin: auto;
    content: "";
    display: table;
    clear: both;
}

.idezet
{
    padding: 5px;
    font-family: 'Lobster Two', cursive;
    font-size: 14pt;
}

/* @media screen and (max-width:1000px)
{
    main
    {
        grid-template-areas: "a a a a"
                             "as as as as"
                             "f f f f";
    }
    header img
    {
        margin: auto;
    }
    picture
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-position: center;
        margin: auto;
    }
    .letoltes
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav ul
    {
        text-align: center;
        margin: auto;
    }
} */

@media screen and (max-width:800px)
{
    main
    {
        grid-template-columns: 1fr;
    }
    header img
    {
        margin: auto;
    }
    picture
    {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        text-align: center;
        margin-left: 35%;
    }
    .letoltes tr, th, td
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        margin: auto;
    }
    nav ul
    {
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width:500px)
{
    main
    {
        grid-template-areas: "a"
                             "as"
                             "f";
    }
    nav ul
    {
        grid-template-columns: 1fr;
        margin-left: 40%;
        text-align: center;
        float: left;
        
    }
    nav a
    {
        height: 30px;
        padding-top: 10px;
        margin-bottom: 10px;
        margin: auto;
        text-align: center;
        float: none;
        padding: 0px;
    }
    nav li
    {
        text-align: left;
        margin-bottom: 10px;
    }
    #kcím
    {
        margin: 0px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0px;

    }
    #indexbekezdes
    {
        margin: 0px;
        padding: 0px;
        margin: auto;
        max-width: 500px;
        grid-template-columns: 1fr;
    }
    .enkep
    {
/*         grid-template-columns: 1fr; */
        float: none;
        margin: 0px;
        padding: 0px;
        margin-left: 100px;
        text-align: center;
    }
    /* .paratlan
    {
        margin-top: 100px;
        padding: 0px;
        margin: 0px;
        border: 1px solid black;
        width: 400px;
    } */
    p .paratlan, .paros
    {
        margin: auto;
        margin: 0px;
        padding: 0px;
        float: none;
    }
    #indexbekezdes
    {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #indexbekezdes img
    {
        margin: 0px;
        margin: auto;
        text-align: center;
    }
    .címnév
    {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    header img
    {
        margin: auto;
    }
    picture
    {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        text-align: center;
        margin-left: 25%;
    }
    .letoltes
    {
        width: 100%;
  /*       margin-right: 35%; */
    }
    .letoltes tr, th, td
    {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
        margin: 0px;
        margin: auto;
        padding: 0px;
    }
    #t, #fn, #ld, #l
    {
        margin: 0px;
    }

    .letoltes th
    {
        margin: 0px;
    }
    .letoltgomb
    {
        text-align: center;
    }
    .címek
    {
        text-align: left;
    }
    #hobbibekezdés, #lista, p
    {
        margin: 0px;
        padding: 0px;
        margin: auto;
        max-width: 500px;
    }

    footer
    {
        width: 100%;
    }
}